  <section class="jumbotron">
    <div class="container">
      
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Brugernavn</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Adgangskode</label>
          <input type="text" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      
    </div>
  </section>