<div class="login-form">
  <form action="/login" method="post">
    <div class="form-control">
      <label for="name">Brugernavn (p2login)</label>
      <input
        type="text"
        name="username"
        id="username"
        autocomplete="off"
        placeholder="Brugernavn"
      />
    </div>
    <div class="form-control">
      <label for="password">Adgangskode (12345)</label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="off"
        placeholder="Adgangskode"
      />
    </div>
    <div class="form-control">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
