
    <!-- Footer-->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#!">Link</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Sundhedsportalen</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <a
              class="btn btn-danger btn-sm"
              role="button"
              href="#"
              aria-label="Go to top"
            >
              <i class="bi-arrow-up"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
  </body>
</html>
