<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sundhedsportalen</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <header>
      <div class="collapse bg-light" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>Hjælp</h4>
              <ul class="list-unstyled">
                <li><a href="/main/nySide">Patienthåndbog</a></li>
                <li><a href="/main/nySide2">Sundhedsvæsenet</a></li>
                <li><a href="/main/letSprog">Let Sprog</a></li>
              </ul>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Om sundhedsportalen</h4>
              <ul class="list-unstyled">
                <li><a href="#">Organisationen</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-light bg-light static-top">
        <div class="container" style="padding-top: 10px; padding-bottom: 10px">
          <a class="navbar-brand" href="/"
            ><i class="bi-bandaid-fill"></i> Sundhedsportalen</a
          >

          <div class="float-end">
            <% if (!locals.user) { %>

            <a class="btn btn-danger btn-sm" href="/borger/login"
              >LOG PÅ SOM BORGER</a
            >
            <a class="btn btn-primary btn-sm" href="/fagperson/login"
              >FAGPERSON</a
            >

            <% } else { %>

            <a class="btn btn-danger btn-sm" href="/logout">Log ud</a>

            <% } %>
            <a
              class="navbar-toggler btn"
              data-bs-toggle="collapse"
              data-bs-target="#navbarHeader"
              aria-controls="navbarHeader"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <% if (locals.error) { %>
    <div
      class="alert alert-danger text-center"
      style="margin-bottom: 0px"
      role="alert"
    >
      <%=locals.error%>
    </div>
    <% } %> <% if (locals.info) { %>
    <div
      class="alert alert-info text-center"
      style="margin-bottom: 0px"
      role="alert"
    >
      <%=locals.info%>
    </div>
    <% } %> <% if (locals.alert) { %>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div
        id="liveToast"
        class="toast align-items-center text-black bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <img
            src="/assets/favicon.png"
            class="rounded me-2"
            alt="Sundhedsportalen"
            height="20"
            width="20"
          />
          <strong class="me-auto">Sundhedsportalen</strong>
          <small>Besked</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body"><%=locals.alert%></div>
      </div>
    </div>
    <% } %>
  </body>
</html>
