<%- include('../header.ejs') %>

<section>
    <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
        <h1>Let Sprog</h1>
        <div class="container" style="padding-top: 2rem; padding-bottom: 2rem">
            <p>
                Dette er let sprog
            </p>
            <p>
                Information om sundhed
            </p>
        </div>
        <div class="container" style="padding-top: 2rem; padding-bottom: 2rem">
            <p>
                Dette er hjemmesiden sundhedsportalen
            </p>
            <p>
                Du har et sundhedskort her
            </p>
        </div>
        <div class="container" style="padding-top: 2rem; padding-bottom: 2rem">
            <p>
                Du er syg
            </p>
            <p>
                Du skal til lægen
            </p>
            <p>
                Du finder information om lægen her
            </p>
        </div>
    </div>
</section>

<%- include('../footer.ejs') %>
