<%- include('../header.ejs') %>

<section>
  <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
    <h1>Ny side</h1>
    <%- include('lorem.ejs') %>
  </div>
</section>

<%- include('../footer.ejs') %>
